NAME="API Name"
PORT=5000
VERSION="1.0"

JWT_SECRET=

FEATURE_ADMIN_ENABLED=0

MONGODB_URL="mongodb://localhost:27017/<dbname>"

KHALTI_API_URL="https://a.khalti.com/api/v2/epayment/initiate/"

KHALTI_SECRET_KEY="test_secret_key_1234567890abcdef"

CLOUDINARY_CLOUD_NAME=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=