NAME="API Name"
PORT=5000
VERSION="1.0"

JWT_SECRET=

FEATURE_ADMIN_ENABLED=0

MONGODB_URL="mongodb+srv://umeshsah711:BMXsPlBkdiT8Ib75@cluster0.9bq92nb.mongodb.net/?appName=Cluster0"

KHALTI_API_URL="https://a.khalti.com/api/v2/epayment/initiate/"

KHALTI_SECRET_KEY=

CLOUDINARY_CLOUD_NAME=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=

EMAIL_API_KEY =