*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

form{
    margin: 2.5rem;
    padding: 2.5rem;
    background-color: rgba(177, 234, 238, 0.616);
    border: 1px solid black;
    border-radius: 10px;
    width: auto;
}            

input{
    width: 100%;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
}

label{
    font-weight: bold;
    margin-top: 0.5rem;
}

input[type="radio"]{
    width: auto;
    margin-right: 0.5rem;
}

input[type="checkbox"]{
    margin: auto 0.5rem;
    width: auto;
}

textarea{
    width: 100%;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
}

input[type="submit"]{
    margin: 0.5rem 0.5rem;
    background-color: #36705f;
    color: white;
    border: 1px solid black;
    padding: 0.5rem 1.5rem;
    width: auto;
    cursor: pointer;
}
    
input[type="submit"]:hover{
    background-color: #74c9ac;
}