h1{
    color: blue;
    background-color: gold;
}

p{
    color: red;
    background-color: rgb(14, 9, 1);
}

.title{
    color: rgb(126, 128, 0);
    background-color: rgb(235, 232, 229);
}

#html{
    color: rgb(0, 141, 31);
    background-color: cyan;
}   

/* html{
    font-family: 'Pacifico', cursive;
} */